body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:500px;
      background-color: #5372F0;  
    }
.container{
    width: 29vw;
background-color: white;
border-radius: 13px;
height: 55vh;
text-align: center;
}
#pid1{
    letter-spacing: 20px;
    font-size: 33px;
    font-weight: 800;
    margin-left: 18px;
}
#pid2{
    margin-left: -7px;
    font-size: 23px;
    margin-top: -5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#pid3{
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -204px;
margin-top: -17px;
}
input{
    font-size: 21px;
width: 22vw;
height: 6vh;
border-radius: 6px;
}
.refresh{
    margin-left: -35px;
height: 5vh;
font-size: 16px;
color: white;
width: 10vw;
background-color: grey;
border-radius: 6px;
cursor: pointer;
font-weight: 600;
}
.check{
    margin-left: 4px;
height: 5vh;
margin-right: -22px;
font-size: 16px;
color: white;
width: 10vw;
background-color:#5372F0;
border-radius: 6px;
cursor: pointer;
font-weight: 600;
margin-top: 28px;
}

@media only screen and (max-width: 415px){

    .container{
        width: 81vw;
        margin-top: 88px;
        height: 78vh;
    }
    #pid2{
        margin-left: 36px;
        margin-right: 36px;
    }
    #pid3{
        margin-left: 36px;
        margin-right: 36px;
    }
    #input{
        position: relative;
        left: 54px;
        width: 224px;
        top: -67px;
        text-align: center;
        font-size: 26px;
    }
    .refresh{
        left: -100px;
    margin-top: 116px;
    width: 32vw;
    position: relative;
    top: 29px;
    font-size: 27px;

    }
    .check{
        left: -13px;
        margin-top: 27px;
        width: 32vw;
        position: relative;
        top: 29px;
        font-size: 19px;
    }
}